{% extends "admin/base_site.html" %}
{% load static i18n %}
{% block title %}
{% blocktrans trimmed %}Order {{ order.id }} {{ block.super }}{% endblocktrans %}
{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a> &rsaquo;
    <a href="{% url 'admin:orders_order_changelist' %}">{% trans 'Orders' %}</a>
    <a href="{% url 'admin:orders_order_change' order.id %}">{% blocktrans trimmed %}Order {{ order.id }}{% endblocktrans %}</a>
    &rsaquo; Detail
</div>
{% endblock %}
{% block content %}
<h1>{% blocktrans trimmed %}Order {{ order.id }}{% endblocktrans %}</h1>
<ul class="object-tools">
    <li>
        <a href="#" onclick="window.print();">{% trans 'Print order' %}</a>
    </li>
</ul>
<table>
<caption>{% trans 'Order info' %}</caption>
    <tr>
        <th>{% trans 'Created' %}</th>
        <td>{{ order.created|date:'SHORT_DATETIME_FORMAT' }}</td>
    </tr>
    <tr>
        <th>{% trans 'Customer' %}</th>
        <td>{{ order.first_name }} {{ order.last_name }}</td>
    </tr>
    <tr>
        <th>E-mail</th>
        <td><a href="mailto:{{ order.email }}">{{ order.email }}</a></td>
    </tr>
    <tr>
        <th>{% trans 'Address' %}</th>
        <td>{{ order.address }}, {{ order.zip }}, {{ order.country }}</td>
    </tr>
    <tr>
        <th>{% trans 'Total amount' %}</th>
        <td>${{ order.get_total_cost }}</td>
    </tr>
    <tr>
        <th>{% trans 'Status' %}</th>
        <td>{% if order.paid %}{% trans 'Paid' %}{% else %}{% trans 'Pending payment' %}{% endif %}</td>
    </tr>
</table>
<div class="module">
    <div class="tabular inline-related last-related">
        <table>
            <caption>{% trans 'Items bought' %}</caption>
            <thead>
            <tr>
                <th>{% trans 'No.#' %}</th>
                <th>{% trans 'Product' %}</th>
                <th>{% trans 'Price' %}</th>
                <th>{% trans 'Quantity' %}</th>
                <th>{% trans 'Total' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for item in order.items.all %}
            <tr class="row{% cycle '1' '2' %}">
            <td>{{ forloop.counter }}</td>
            <td>{{ item.content_object.name }}</td>
            <td class="num">${{ item.price }}</td>
            <td class="num">{{ item.quantity }}</td>
            <td class="num">${{ item.get_cost }}</td>
            </tr>
            {% endfor %}
            <tr class="total">
                <td colspan="4">{% trans 'Total' %}</td>
                <td class="num">${{ order.get_total_cost }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}