<div id="slider" {% include "django/forms/widgets/attrs.html" %}></div>
<div class="row d-none">
    <div class="col-6">
        <span class="range-slider-value value-low" data-range-value-low="200" id="input-slider-range-value-low"></span>
    </div>
    <div class="col-6 text-right">
        <span class="range-slider-value value-high" data-range-value-high="400" id="input-slider-range-value-high"></span>
        {% for widget in widget.subwidgets %}
            {% include widget.template_name %}
        {% endfor %}
    </div>
</div>
