{% load shop_tags i18n %}
<div class="col-12 col-xl-4">
    <div class="order-summary">
        <div class="card rounded-0">
            <div class="card-body">
                <div class="card rounded-0 border bg-transparent shadow-none">
                    <div class="card-body">
                        <p class="fs-5">{{ coupon_form.code.label }}</p>
                        <form action="{% url 'coupons:apply' %}" method="POST" class="input-group">
                            {% csrf_token %}
                            {{ coupon_form.code }}
                            <button class="btn btn-dark btn-ecomm" type="submit">{% trans 'Apply Discount' %}</button>
                        </form>
                    </div>
                </div>
                <div class="card rounded-0 border bg-transparent shadow-none">
                    <div class="card-body">
                        <p class="fs-5">{% trans 'Order summary' %}</p>
                        {% for item in cart %}
                            {% with product=item.product %}
                        <div class="my-3 border-top"></div>
                        <div class="d-flex align-items-center">
                        {% get_main_image product as image_obj %}
                            <a class="d-block flex-shrink-0" href="{{ product.get_absolute_url }}">
                                <img src="{{ image_obj.image.url }}" width="75" alt="Product">
                            </a>
                            <div class="ps-2">
                                <h6 class="mb-1"><a href="{{ product.get_absolute_url }}" class="text-dark">{{ product.name }}</a></h6>
                                <div class="widget-product-meta">
                                    <span class="me-2">${{ item.price }}</span>
                                    <span class="">x {{ item.quantity }}</span>
                                </div>
                            </div>
                        </div>
                            {% endwith %}
                        {% endfor %}
                    </div>
                </div>
                <div class="card rounded-0 border bg-transparent mb-0 shadow-none">
                    <div class="card-body">
                        <p class="mb-2">{% trans 'Subtotal' %}: <span class="float-end">${{ cart.get_total_price }}</span>
                        </p>
                        <p class="mb-2">{% trans 'Shipping' %}: <span class="float-end">--</span>
                        </p>
                        <p class="mb-0">{% trans 'Discount' %}: <span class="float-end">{% if cart.coupon %}{{ cart.coupon }} - ${{ cart.get_discount }}{% else %}--{% endif %}</span>
                        </p>
                        <div class="my-3 border-top"></div>
                        <h5 class="mb-0">{% trans 'Order Total' %}: <span class="float-end">${{ cart.get_total_price_after_discount }}</span>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>