{% load l10n %}

<div data-model="{{ product_model }}" data-id="{{ product_id }}" data-ajax="true" class="rating rating__set">
    <div class="rating__body">
        <div class="rating__active"></div>
        <div class="rating__items">
            <input type="radio" class="rating__item" value="1" name="rating">
            <input type="radio" class="rating__item" value="2" name="rating">
            <input type="radio" class="rating__item" value="3" name="rating">
            <input type="radio" class="rating__item" value="4" name="rating">
            <input type="radio" class="rating__item" value="5" name="rating">
        </div>
    </div>
    <!-- You must send rating value to JS with decimal separator "." for correct work on other locale language.  -->
    <div class="rating__value">{{ rating|unlocalize }}</div>
</div>
