{% extends 'base.html' %}
{% load static shop_tags %}
{% block content %}
    <!--start page wrapper -->
    <div class="page-wrapper">
        <div class="page-content">
            <!--start breadcrumb-->
            <section class="py-3 border-bottom border-top d-none d-md-flex bg-light">
                <div class="container">
                    <div class="page-breadcrumb d-flex align-items-center">
                        <h3 class="breadcrumb-title pe-3">{{ view.kwargs.cat_name|title }}</h3>
                        <div class="ms-auto">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb mb-0 p-0">
                                    <li class="breadcrumb-item"><a href="{% url 'shop:index' %}"><i
                                            class="bx bx-home-alt"></i> Home</a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="#">Categories</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">{{ view.kwargs.cat_name|title }}</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </section>
            <!--end breadcrumb-->
            <!--start shop area-->
            <section class="py-4">
                <div class="container">
                <form>
                    <div class="row">
                    {% if view.kwargs.cat_name == 'tyres' %}
                        {% include 'shop/tyres_filter.html' %}
                    {% else %}
                        {% include 'shop/wheels_filter.html' %}
                    {% endif %}

                        <div class="col-12 col-xl-9">
                            <div class="product-wrapper">


                                <div class="toolbox d-flex align-items-center mb-3 gap-2">
                                    <div class="d-flex flex-wrap flex-grow-1 gap-1">
                                            <div class="d-flex align-items-center flex-nowrap">
                                                <label for="{{ filter.form.ordering.id_for_label }}" class="mb-0 font-13 text-nowrap">{{ filter.form.ordering.label }}</label>
                                                {{ filter.form.ordering }}

                                            </div>

                                    </div>
                                    <div class="d-flex flex-wrap">
                                            <div class="d-flex align-items-center flex-nowrap">
                                            <label for="paginate-select" class="mb-0 font-13 text-nowrap">Show:</label>
                                            <select onchange="form.submit();" class="form-select ms-3 rounded-0" id="paginate-select" name="paginate_by">
                                                <option value="3" {% if paginator.per_page == 3 %}selected{% endif %}>3</option>
                                                <option value="6" {% if paginator.per_page == 6 %}selected{% endif %}>6</option>
                                                <option value="12" {% if paginator.per_page == 12 %}selected{% endif %}>12</option>
                                                <option value="24" {% if paginator.per_page == 24 %}selected{% endif %}>24</option>
                                            </select>
                                                </div>
                                    </div>
                                </div>
                                <div class="product-grid" id="product-list">
                                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-3">
                                        {% for product in products %}

                                            <div class="col">
                                                <div class="card rounded-0 product-card">
                                                    <div class="card-header bg-transparent border-bottom-0">
                                                        <div class="d-flex align-items-center justify-content-end gap-3">
                                                            <a href="javascript:;">
                                                                <div class="product-compare"><span><i
                                                                        class="bx bx-git-compare"></i> Compare</span>
                                                                </div>
                                                            </a>
                                                            <div>
                                                                <div class="product-wishlist"><i
                                                                       class="bx bx-heart"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {% get_main_image product as image %}
                                                    {% if image %}
                                                        <img src="{{ image.url }}" class="card-img-top" alt="...">
                                                    {% else %}
                                                        <img src="{% static 'assets/images/products/no_image.png' %}" class="card-img-top" alt="...">
                                                    {% endif %}

                                                    <div class="card-body">
                                                        <div class="product-info">
                                                            <a href="javascript:;">
                                                                <p class="product-catergory font-13 mb-1">{{ product.category }}</p>
                                                            </a>
                                                            <a href="{{ product.get_absolute_url }}">
                                                                <h6 class="product-name mb-2">{{ product.name }}</h6>
                                                            </a>
                                                            <div class="d-flex align-items-center">
                                                                <div class="mb-1 product-price">
                                                                    {% if product.status != 0 %}
                                                                    <span class="me-1 text-decoration-line-through">$99.00</span>
                                                                    <span class="fs-5">$ {{ product.price }}</span>
                                                                    {% else %}
                                                                        <span class="me-1">Out of stock</span>
                                                                    {% endif %}
                                                                </div>
                                                                {% show_rating product %}
                                                            </div>
                                                            <div class="product-action mt-2">
                                                                <div class="modal-info" style="display: none">  <!-- this div will be hidden by default and I use it to store all the info I'll need to display on the modal for each product -->
                                                                <div class="img-links">{% for gallery in product.gallery.all %}<p>{{ gallery.image.url }}</p>{% empty %}<p>{% static 'assets/images/products/no_image.png' %}</p>{% endfor %}</div><h1>
                                                                        {{ product.name }}</h1><p>{{ product.description}}</p><p>${{ product.price}}</p><p>{{ product.sku}}</p><p>{% url 'cart:add' ct_model=product.model_name slug=product.slug %}</p>
                                                                </div>
                                                                <div class="d-grid gap-2">
                                                                    <a href="{% url 'cart:add' product.model_name product.slug %}"
                                                                       class="btn btn-dark btn-ecomm {% if product.status == 0 %}disabled{% endif %}"> <i
                                                                            class="bx bxs-cart-add"></i>Add to Cart</a>
                                                                    <a href="javascript:;"
                                                                       class="btn btn-light btn-ecomm modal-btn"
                                                                       data-bs-toggle="modal"
                                                                       data-bs-target="#QuickViewProduct"><i
                                                                            class="bx bx-zoom-in"></i>Quick View</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <!--end row-->
                                </div>
                            {% if page_obj.has_other_pages %}
                                <hr>
                                {% include 'shop/category_pagination.html' %}
                            {% endif %}

                            </div>
                        </div>
                    </div>
                    <!--end row-->
                </form>
                </div>
            </section>
            <!--end shop area-->
        </div>
    </div>
    <!--end page wrapper -->
{% endblock content %}