{% load static shop_tags i18n %}
<nav class="d-flex justify-content-between" aria-label="Page navigation">
    {% if page_obj.has_previous %}
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="?{% param_replace page=page_obj.previous_page_number %}"><i class='bx bx-chevron-left'></i> {% trans 'Prev' %}</a>
            </li>
        </ul>
    {% else %}
        <ul class="pagination">
            <li class="page-item disabled">
                <a class="page-link" href="#"><i class='bx bx-chevron-left'></i> {% trans 'Prev' %}</a>
            </li>
        </ul>
    {% endif %}
    <ul class="pagination">
        {% for p_num in paginator.page_range %}
            {% if page_obj.number == p_num %}
                <li class="page-item active d-none d-sm-block" aria-current="page"><span
                        class="page-link">{{ p_num }}<span class="visually-hidden">(current)</span></span>
                </li>
            {% elif p_num >= p_num|add:-2 and p_num <= p_num|add:2 %}
                <li class="page-item d-none d-sm-block">
                    <a class="page-link" href="?{% param_replace page=p_num %}">{{ p_num }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    {% if page_obj.has_next %}
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="?{% param_replace page=page_obj.next_page_number %}"
                                     aria-label="Next">{% trans 'Next' %} <i class='bx bx-chevron-right'></i></a>
            </li>
        </ul>
    {% else %}
        <ul class="pagination">
            <li class="page-item disabled">
                <a class="page-link" href="#" aria-label="Next">{% trans 'Next' %} <i class='bx bx-chevron-right'></i></a>
            </li>
        </ul>
    {% endif %}
</nav>