{% load i18n %}

<div class="product-categories">
    <h6 class="text-uppercase mb-3">{{ filter.form.type.label }}</h6>
    {{ filter.form.type }}
</div>
<hr>
<div class="size-range">
    <h6 class="text-uppercase mb-3">{{ filter.form.diameter.label }}</h6>
    <ul class="list-unstyled mb-0 categories-list">
    {% for diameter in filter.form.diameter %}
     <li>
        <div class="form-check">
            {{ diameter }}
        </div>
    </li>
    {% endfor %}
    </ul>
    <button type="submit" class="btn btn-dark btn-sm text-uppercase rounded-0 font-13 fw-500">
        {% trans 'Filter' %}
    </button>
</div>
